body{
    background-image: url(./fundo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: arial;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}

div.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

div.campo label{
    color: rgb(255,255,255);
}

div.campo input {
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #000000;
    color: #CCCCCC;
    border-radius: 5px;
    margin-top: 5px;
}